#/usr/local/bin/xrandr-script.sh
VBoxClient-all
#wallpaper.sh
#autocutsel -fork &
#autocutsel -selection PRIMARY -fork &
xset s off; xset -dpms
xset r rate 300 30
xbindkeys -n &>/dev/null &
synapse -s &
ibus-daemon &
#xcompmgr -r5 -l5 -t3 -D4 -cf &
